.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.profile-picture-container {
  margin-bottom: 20px;
}

.profile-picture {
  width: 300px; 
  height: 300px;
  border-radius: 100%; 
  box-shadow: 0 0 10px rgba(163, 16, 16, 0.2); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.profile-picture:hover {
  transform: scale(1.05); /* Efecto de escala al pasar el cursor */
  box-shadow: 0 0 20px rgba(163, 16, 16, 0.5); /* Sombra más pronunciada al pasar el cursor */
}

.profile-picture:active {
  filter: hue-rotate(90deg); /* Cambio de color al hacer clic */
  filter: blur(5px);  /* Desenfoque al hacer clic */
}

.profile-summary {
  text-align: center;
}

.description-container {
  text-align: justify;
}

.projects-column {
  flex: 1; /* Toma el 50% del ancho del contenedor padre */
  padding: 20px;
}


.container{
  margin-top: 150px;
}