.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .project-box {
    border-radius: 10px; /* Esquinas redondeadas */
    overflow: hidden; /* Para ocultar la sombra en los bordes */
    width: 50%; /* Ajusta el tamaño de la imagen al contenedor */
    height: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Sombra general */
  }
  
  .project-image {
    width: 100%; /* Ajusta el tamaño de la imagen al contenedor */
    height: auto;
    display: block; /* Evita el espacio extra debajo de la imagen */
  }
  
  .project-description {
    padding: 20px; /* Espacio alrededor del texto */
    background-color: #fff; /* Color de fondo */
  }
  
  .project-box:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4); /* Aumenta la sombra al pasar el cursor */
  }
  