.image-container {
    display: flex;
    justify-content: center;
  }
  
  .image-wrapper {
    position: relative;
  }
  .upload-button {
    position: absolute;
    bottom: 10px; /* Distancia desde la parte inferior */
    right: 10px; /* Distancia desde el borde derecho */
  }
  